* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

::-moz-selection {
	background: gray;
}

::selection {
	background: gray;
}

.main-text {
	font-family: Bogart-Regular, sans-serif;
	display: table;
}

.sub-text {
	font-family: Bogart-Light, sans-serif;
	display: table;
}

/* .sections {
	transform: scale(1);
} */
