* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body,
a {
	cursor: none;
}

::-moz-selection {
	background: gray;
}

::selection {
	background: gray;
}

.main-text {
	font-family: Bogart-Regular, sans-serif;
	display: table;
}

.sub-text {
	font-family: Bogart-Light, sans-serif;
	display: table;
}

.cursor {
	width: 40px;
	height: 40px;
	border: 2px solid #fefefe;
	border-radius: 100%;
	position: fixed;
	transform: translate(-50%, -50%);
	pointer-events: none;
	z-index: 9999;
	mix-blend-mode: difference;
	transition: all 150ms ease;
	transition-property: opacity, background-color, transform, mix-blend-mode;
}

.cursor-hidden {
	opacity: 0;
}

.cursor-clicked {
	transform: translate(-50%, -50%) scale(0.5);
	background-color: #fefefe;
}

.cursor-link-hovered {
	transform: translate(-50%, -50%) scale(1.8);
	background-color: #fefefe;
}

.sections {
	/* transform: scale(1); */
	scroll-snap-type: y mandatory;
}

section {
	scroll-snap-align: start;
	scroll-snap-stop: normal;
}

/* * {
	background: #000 !important;
	color: #0f0 !important;
	outline: solid #f00 1px !important;
} */
