@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Bogart-Regular";
	src: local("Bogart-Regular"),
		url(../fonts/Bogart-Regular.ttf) format("truetype");
}

@font-face {
	font-family: "Bogart-Light";
	src: local("Bogart-Light"), url(../fonts/Bogart-Light.ttf) format("truetype");
}

.container,
nav,
.navbar {
	pointer-events: auto !important;
}

.nav-item {
	position: relative !important;
}
